<footer>
    <div class="footer-text">
        <a class="icons" href="mailto:enship.dpsrkp@gmail.com" target="_blank">
            <span class="flaticon-gmail-logo" title="Email"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="icons" href="https://www.facebook.com/enship/" target="_blank">
            <span class="flaticon-facebook-logo" title="Official Facebook Page"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="icons" href="" target="_blank">
            <span class="flaticon-twitter" title="Official Twitter Handle"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="icons" href="" target="_blank">
            <span class="flaticon-linkedin-logo" title="Official Linkedin Page"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <br><br>
        &copy; ENSHIP | Delhi Public School R. K. Puram
        <br><br><br>
        <div class="attributions">Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
</footer>